
<html>
    <head>
        <title>TweepyDeck.com</title>
    </head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

    <script type="text/javascript" src="${prefix}/scripts/timeline.js"></script>
    <script type="text/javascript" src="${prefix}/scripts/bootstrap.js"></script>
    <link type="text/css" rel="stylesheet" href="${prefix}/styles/tweepydeck.css"/>
    <body>
        <a href="http://github.com/rtyler/TweepyDeck">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
        </a>
        <center>
            <strong>TweepyDeck</strong>
            <br/>
        </center>
        <div id="deck">
        </div>
    </body>
</html>
